
.card{
    width: 700px;
    height: 380px;
    border: 2px solid white;
    display: block;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    background-color: #feefec;
    border: 1px solid #0c2637;
    border-radius: 20px;
}
.logInSignUp,.imagels{
    width: 350px;
    display: block;
    margin: auto;
    height: 340px;
}
.imagels{
    width: 340px;
    margin-right: -50px;
    margin-left: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.logInSignUp{
    background-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.lsTitle{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
    font-size: 30px;
    color:#0c2637;
    display: block;
    margin: auto;
}
.cardSignUp{
    width: 860px;
    height:500px;
    margin-top: 60px;
    background-color: rgb(245, 245, 245);
}
.signUp{
    height: 460px;
    margin-right: 20px;
    width: 425px;
}
.imgSignUp{
    height: 460px;
    width: 400px;
}
Button{
    margin-top: -10px;
}
.ValidationFrom{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signUpBtn{
    margin-top: -30px;
}
