.mainChatArea{
    width: 70%;
    margin-top: 1.25%;
    margin-bottom: 1.25%;
    margin-left: 1.25%;
    display: grid;
    grid-template-rows: 10% 83% 7%;
}

.chatAreaContactName{
    display: flex;
    align-items: center;
    margin-left: 25px;
    font-size: 22px;
    font-weight: 500;
    margin-top: 10px;
}
.chatName{
    margin-left: 15px;
}
.chatAreaBody{
    overflow:scroll;
    overflow-x: hidden;
    border-top: 1px solid gray;
    
}
.sendMessage{
    border: none;
    width: 90%;
    
}
.formSendMessage{
    display: flex;
    height: 98%;
    width: 95%;
}
.chatAreaFooter{
    border-top: 1px solid gray;
}
.sendMessageArea{
    height: 98%;
    display: flex;
    width: 75%;
    margin: auto;
}

.chatAreaMessages{
    position: relative;
    font-size: 16px;
    padding: 4px;
    margin: 7px;
    width: fit-content;
}
.chatAreaMessageMy{
    border: 1px solid rgb(240, 240, 240);
    background-color: rgb(240, 240, 240);
    margin-left: auto;
    max-width: 80%;
    justify-content: safe;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-right: 15px;
    padding-left: 10px;
    padding-right: 15px;
}
.timeChatAreaMessageMy{
    font-size: 12px;
    margin-left: auto;
    margin-top: -10px;
    margin-right: 15px;
}
.chatAreaMessageReceiver{
    border: 1px solid #feefec;
    background-color: #feefec;
    margin-left: 15px;
    max-width: 80%;
    justify-content: safe;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-left: 10px;
    padding-right: 15px;
}
.timeChatAreaMessageReceiver{
    font-size: 12px;
    margin-top: -10px;
    margin-left: 15px;
}
.team{
    border: 2px splid red;
}

