@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap');

.mainContactList{
    width: 25%;
    height: 95%;
    margin-top: 1.25%;
    margin-left: 1.25%;
    border-radius: 10px;
    background-color:rgb(248, 248, 248);
    border: 1px solid rgb(139, 139, 139);
}
.contactListHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
}
.contactListTitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    color: #0c2637;
}
.contactListSearchIcon{
    margin-left: 10px;
    color: #0c2637;
}
.contactListSearchBox{
    margin-top: 7px;
    height: 30px;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}
.contactListSearchBox > input{
    border:none;
    margin-left: 10px;
    height: 20px;
}
.MyContact{
    height: 85%;
    flex: 1;
    overflow: scroll;
    overflow-x: hidden;
    margin-top: 20px;
    margin-left: 10px;
}

    