@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');

.mainHeader{
    background-color: #0c2637;
    height: 50px;
    display: flex;
    justify-content: space-between;
    grid-column: 1/-1;
}
.Brand{
    display: flex;
    flex-direction: row;
    width: 200px;
}
.logo{
    height: '45px';
    width: '45px';
    border: '1px solid black';
    border-radius: 50%;
}
.title{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    margin-top: 1.5px;
    margin-left: 20px;
}
.logOut{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-top: 5px;
    margin-right: 20px;
}
.UserName{
    font-size: 25px;
    margin-left: 0px;
}