@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');

.aboutUsMain{
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: row;
}
.AboutUsPics{
  width: 50%;
  padding:15px;
  
}
.Features{
  width: 50%;
  padding: 10px;;
}
.Pics{
  justify-content: space-evenly;
  height: '100px';
  width: '100px';
  border-radius: "50%";
  border: '1px solid black';
  margin-top: '10px';

  
}
.Names{
  font-family: 'Montserrat', sans-serif;
  color: #0c2637;
}