@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');

.aboutUsMain{
  font-family: 'Montserrat', sans-serif;
}
  
.Pics{
  margin: auto;
  width:50%;
  padding:10px;
  justify-content: space-evenly;

}