@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');

.aboutUsMain{
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: row;
}
.Heading{
  text-align: center;
}
.Intro{
  margin-top: 5px;
  text-align: justify;
}
.AboutUsPics{
  width: 50%;
  padding:15px;
  
}
.Features{
  width: 50%;
  padding: 10px;;
}
.Pictures{
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-evenly;
}
.Pics{
  margin-top: 10px;
}
.Names{
  font-family: 'Montserrat', sans-serif;
  color: #0c2637;
  margin-top: 20px;
}
.teamHeading{
  margin-top: -10px;
}
.featureHeading{
  margin-top: 8px;
}
.featureChat{
  margin-top: 10px;
  text-align: justify;
}
.featureToDo{
  margin-top: 5px;
  text-align: justify;
}
.Aspire{
  text-align: justify;
}