.profileMain{
  display: flex;
  flex-direction: row;
}
.profileHeading{
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: -20px;
  color: #0c2637;
}
.profilePicture{
  
  width: 50%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  
}
.information{
  
  width: 50%;
  padding: 20px;
  margin-top:10px;
  
}
.profileButton{
  margin-top: -20px;
}
.picture{
  border: 2px solid black;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 20px;
}
.avatar{
  margin-bottom: 20px;
}
.changedp{
  margin: auto;
  display: flex;
  width: 90%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 120px;
}
.profileInput{
  margin-bottom: 15px;
  margin-left: 10px;
}
.avatarHeading{
  text-align: center;
}
.buttonArea{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: -20px;
}
.customImage{
  display: inline;
  margin: auto;
  margin-bottom: 10px;
  margin-top: -20px;
}
.profileSubValue{
  color: black;
  font-size: 18px;
}
