.profileMain{
  display: flex;
  flex-direction: row;
}
.profilePicture{
  width: 40%;
  height: 300px;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
}
.information{
  width: 60%;
  border: 2px solid rgb(36, 32, 32);
  padding: 20px;
}
.profileButton{
  border: 2px solid red;
  margin-top: -20px;
}
.picture{
  border: 2px solid red;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: auto;
  margin-top: 30px;
}
.changedp{
  margin: auto;
  margin-top: -50px;
}
.profileInput{
  margin-bottom: 15px;
  margin-left: 10px;
}