.schedulemessageMain{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.emailAndTitle{
    display: flex;
}
.input{
    margin: 5px;
    margin-top: 10px;
}
.scheduleMessageMain{
    margin-top: 20px;
    width: 50%;
}
.scheduleLeft{
    margin-right: auto;
}
.SMessage{
    display: flex;
    flex-direction: row;
}
.seeMessages{
    border: 2px solid red;
    width: 50%;
    height: 400px;
}
.dateInput{
    margin-left: 5px;
}