
.emailAndTitle{
    display: flex;
}
.input{
    margin: 5px;
    margin-top: 10px;
}
.scheduleMessageMain{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-left: 10px;
    border: 2px solid red;
}
.inputFields{
    border: 2px solid gray;
}
.SMessage{
    display: flex;
    flex-direction: row;
}
.seeMessages{
    width: 55%;
    height: 400px;
    border: 2px solid red;
}
.dateInput{
    margin-left: 5px;
}
.scheduleButtonArea{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
